@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import '../css/iconography.css';
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  color: #48545c;
  background-color: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
}

html, button, select, input, textarea {
  font-family: Roboto;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

table {
  width: 100%;
  white-space: nowrap;
}

td {
  vertical-align: middle;
}

input, button, select, textarea {
  cursor: pointer;
}

.panel_main_contents {
  background-color: white;
}

.user_profile_image_wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
}

.user_profile_image {
  vertical-align: middle;
  width: 45px;
  height: 45px;
}

.user_details_name {
  font-weight: bold;
  font-size: 14px;
  color: #111;
}

.user_details_location {
  font-size: 12px;
  color: #666;
}

.comment_title {
  font-size: 28px;
  font-weight: bold;
  color: #383B41;
}

.thumbs_up_image_wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 15px;
  height: 15px;
  color: #25b9c0;
}

.thumbs_up_image {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.thumbs_up_comment {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.euros_image_wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin-left: 30px;
}

.euros_image {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.price_details {
  font-size: 12px;
  color: #666;
}

.gallery_image_wrapper {
  border-radius: 3pt;
  overflow: hidden;
  display: inline-block;
  width: 153px;
  height: 153px;
  margin-top: 10px;
  margin-right: 10px;
}

.gallery_image {
  border-radius: 3pt;
  overflow: hidden;
  display: inline-block;
  width: 153px;
  height: 153px;
}

.about_doctor_title {
  font-weight: bold;
  font-size: 18px;
}

.doctor_image_wrapper {
  border-radius: 3pt;
  overflow: hidden;
  width: 63px;
  height: 63px;
}

.doctor_image {
  border-radius: 3pt;
  overflow: hidden;
  width: 63px;
  height: 63px;
}

.doctor_details_primary {
  font-size: 14px;
  font-weight: bold;
}

.doctor_details_secondary {
  font-size: 14px;
  color: #666;
  white-space: normal;
}

.contact_doctor_button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #19b5bc;
  border-radius: 18pt;
  padding: 10px;
  border: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.rating_title {
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 7px;
  padding-right: 10px;
}

.rating_stars_container {
  vertical-align: middle;
  color: #ffd289;
}

.rating_star_wrapper {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.rating_star_image {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.rating_comment {
  font-size: 14px;
  color: #000;
}

.tell_us_section_title {
  font-weight: bold;
  font-size: 18px;
}

.tell_us_section_question {
  font-size: 14px;
  color: #000;
}

.tell_us_section_treatment_selector {
  display: block;
  width: 100%;
  border-radius: 2pt;
  border: 2px solid #EEEEEE;
  padding: 5px;
  background-color: #FFFFFF;
  color: #ACB5BC;
  font-style: italic;
  font-size: 14px;
}

.circled_button_wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.circled_button {
  border-radius: 50%;
  overflow: hidden;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: white;
  color: #666;
  border: 2px solid #CCCCCC;
}

.circled_button.selected {
  background-color: #19b5bc;
  color: #FFFFFF;
  border: none;
}

.tell_us_section_treatment_input {
  display: block;
  width: 100%;
  border-radius: 2pt;
  border: 2px solid #EEEEEE;
  padding: 5px;
  background-color: #FFFFFF;
  color: #ACB5BC;
  font-style: italic;
  font-size: 14px;
}

.tell_us_section_treatment_textarea {
  display: block;
  width: 100%;
  border-radius: 2pt;
  border: 2px solid #EEEEEE;
  padding: 5px;
  background-color: #FFFFFF;
  color: #ACB5BC;
  font-style: italic;
  font-size: 14px;
}

.share_experience_button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #19b5bc;
  border-radius: 18pt;
  padding: 10px;
  border: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25pt;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.more_experiences_title {
  font-weight: bold;
  font-size: 18px;
  color: #383B41;
  white-space: nowrap;
}

.more_experiencies_section_header {
  display: table;
  width: 100%;
}

.see_all_text {
  font-size: 14px;
  color: #000;
  display: table-cell;
  text-align: right;
  font-size: 12px;
  white-space: nowrap;
}

.user_comment {
  font-weight: bold;
  font-size: 18px;
  display: table-cell;
  color: #000000;
}

.user_name {
  font-size: 14px;
  color: #000;
  font-size: 11px;
}

.comment_counter {
  color: #e78d45;
  font-size: 11px;
  float: left;
}

.read_more_text {
  color: #e78d45;
  font-size: 11px;
  float: right;
}

.user_comment_card {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-bottom: 10px;
  border-radius: 3pt;
  padding: 10px;
}

.validation_text {
  font-size: 10px;
  color: #666666;
  text-align: right;
}

.validation_text.valid {
  color: #19b5bc;
}

.validation_text.invalid {
  color: red;
}

.error_text {
  color: red;
  font-size: 10px;
}

.form_control_error_icon {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.clear_both {
  clear: both;
}

.width_100x100 {
  width: 100%;
}

.width_1x100 {
  width: 1%;
}

.no_break_word {
  white-space: nowrap;
}

.break_word {
  white-space: normal;
}

.display_table {
  display: table;
}

.display_table_cell {
  display: table-cell;
}

.vertical_align_top {
  vertical-align: top;
}

.padding_1 {
  padding: 4px;
}

.padding_top_1 {
  padding-top: 4px;
}

.padding_bottom_1 {
  padding-bottom: 4px;
}

.padding_left_1 {
  padding-left: 4px;
}

.padding_right_1 {
  padding-right: 4px;
}

.padding_2 {
  padding: 8px;
}

.padding_top_2 {
  padding-top: 8px;
}

.padding_bottom_2 {
  padding-bottom: 8px;
}

.padding_left_2 {
  padding-left: 8px;
}

.padding_right_2 {
  padding-right: 8px;
}

.padding_3 {
  padding: 12px;
}

.padding_top_3 {
  padding-top: 12px;
}

.padding_bottom_3 {
  padding-bottom: 12px;
}

.padding_left_3 {
  padding-left: 12px;
}

.padding_right_3 {
  padding-right: 12px;
}

.padding_4 {
  padding: 16px;
}

.padding_top_4 {
  padding-top: 16px;
}

.padding_bottom_4 {
  padding-bottom: 16px;
}

.padding_left_4 {
  padding-left: 16px;
}

.padding_right_4 {
  padding-right: 16px;
}

.padding_vertical_1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding_vertical_2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding_vertical_3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding_vertical_4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding_vertical_8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding_horizontal_1 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding_horizontal_2 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding_horizontal_3 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding_horizontal_4 {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .panels_wrapper {
    display: table;
  }

  .panel_main {
    display: table-cell;
    width: 75%;
    vertical-align: top;
    padding-right: 16px;
  }

  .panel_secondary {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    min-width: 200px;
  }
}

/*# sourceMappingURL=app.css.map */
